{% extends 'ArchiSite/base.html' %}
{% block content %} 
{% load static %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/slideshow/back5.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.php">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section services-section bg-light"style="box-shadow: 5px 10px 18px #888888;">
      <div class="container mt-0">
        <div class="row justify-content-center mb-5 pb-3 no-gutters d-flex">
            <h2 style="color:#1a1916" class="mb-4"><b>Improving Lives through Design</b></h2>
            <h4 align="center">In 2019, we made a commitment to design spaces dedicated to improving the lives of those in our local communities. 
              Since then, we have designed a number of projects, never forgetting that we serve those who are committed to the well-being and future of real people.
              As we build, we imagine that our friends, family and ourselves are experiencing and using space. Not only do we plan an intent, 
              but we also trigger emotions, such as a sense of calm in a hospital where you may face overwhelming odds; to cultivate a closer 
              relationship with God and faith in one's own church;
              to develop the ability and desire to learn in students of all ages; to make your home a safe and happier place.</h4>
              
              <h2 style="color:#0e0c0c" class="mb-4"><b>Serving Those Who Serve Others</b></h2>
              <h4 align="center">At Architrevo, We are known for our honesty, sincerity and reputation for outstanding work. We're based on helping those who serve us, 
                right here in our backyard. We're enthusiastic about what we're doing because we care about the world around us,
                the true impact we have on those who use the spaces we're building, and the legacy we're creating for the next centuries.
              </h4>
          <br/>

          <h2 style="color:#0e0c0c" class="mb-4"><b>Our Values</b></h2>
          <p>
          <ul>
            <li><h4 align="center">Purpose-Driven</h4></li>
            <li><h4 align="center">Client-Centered</h4></li>
            <li><h4 align="center">Design-Focused</h4></li>
            <li><h4 align="center">Team-Oriented</h4></li>
            <li><h4 align="center">Service Culture</h4></li>
          </ul> 
          </p>

          <br>
              <h2 style="color:#0e0c0c" class="mb-4"><b>Beyond Design</b></h2>
              <h4 align="center">At Architrevo, We are known for our honesty, sincerity and reputation for outstanding work. We're based on helping those who serve us, 
                right here in our backyard. We're enthusiastic about what we're doing because we care about the world around us,
                the true impact we have on those who use the spaces we're building, and the legacy we're creating for the next centuries.
              </h4>
          <br>
          <h2 style="color:#1a1916" class="mb-4"><b>Our Approach</b></h2>
            <h4 align="center">With the kick-off of every project, our team meets with the owner, program management team and user groups to establish 
              project goals and expectations. We work collaboratively with you and your team, gleaning valuable feedback on the overall
               design approach and using that as the foundation of our design. This process has proved successful so far, 
              enabling us to create buildings that significantly and positively enhance the lives of those who use them.</h4>
              
              <h2 style="color:#0e0c0c" class="mb-4"><b>Our Mission</b></h2>
              <h4 align="center">To provide design solutions that enhance the built environment and enrich people’s lives.
              </h4>

              <h2 style="color:#0e0c0c" class="mb-4"><b>Our Vision</b></h2>
              <h4 align="center">To create innovative architecture that strives for design excellence.
              </h4>
          
      </div>
    </section>

   {% endblock %}  