{% extends 'ArchiSite/base.html' %}
{% block content %} 
{% load static %}
    
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/architectureandinteriordesignservicepage/arch2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            	<span>Architecture and Interior Design</span>
            </h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.php">Home <i class="ion-ios-arrow-forward"></i></a></span> 
                  <span class="mr-2"><a href="services.html">Our Services<i class="ion-ios-arrow-forward"></i></a></span>
                    <span>Architecture and Interior Design<i class="ion-ios-arrow-forward"></i></span></p>
            <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Request a Free Consultation</a></p> -->
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section services-section bg-light"style="box-shadow: 5px 10px 18px #888888;">
        <div class="container mt-0">
          <div class="row justify-content-center mb-5 pb-3 no-gutters d-flex">
              <h2 style="color:#1a1916" class="mb-4"><b>Architecture</b></h2>
            <h4 align="center">The definition of architecture calls it ‘the design of buildings and spaces’. MAD practices an architecture that extends
                well beyond that definition to something much more complex. We strive to create buildings and spaces that meet our
                client’s needs, develop a sense of community, and transform our environment. We offer clients a full range of
                architectural design services, from concept through construction. Our firm includes experts in sustainable design, code
                compliance, contract administration, and building information modeling who contribute to our projects and create a truly
                collaborative process</h4>
                
                <h2 style="color:#0e0c0c" class="mb-4"><b>Interior Design</b></h2>
                <h4 align="center">Along with the exterior aesthetic our buildings create, we strive to create interior architecture that adds value to the
                    building and experience within each space. With the average person spending 90% of their time indoors, it is imperative
                    we spend time designing the interior with the exterior in order to develop a complete building. Beyond selecting colors
                    and lighting and furniture, we see our role as imagining how people will interact with and be affected by a space, and
                    how we can enrich their time in it. Our firm offers full-service interior design, lighting design, and furniture, fixture &
                    equipment (FF&E) procurement.
                    </h4>
            <br>
            
        </div>
      </section>

   <br>
   <br>

   <section class="ftco-consultation bg-light" style="box-shadow: 5px 10px 18px #888888;">
    <div class="container-fluid">
      <br>
      <br>
    <div class="row d-md-flex">
      <div class="half d-flex justify-content-center align-items-center img" style="background-image: url(/static/images/slideshow/back2.jpg);">
        <div class="overlay"></div>
        <div class="desc text-center">
          <div>
            <span>
              <img src="/static/images/archilogos/minilogo.png" style="height:170px;width:280px;"></img>
            </span>
          </div>
        </div>
        </div>
        <div class="half p-3 p-md-5 ftco-animate">
          <h3 class="mb-4">Ask us a question!</h3>
          <form action="#" style="font-family:poppins">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
          <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send message" class="btn btn-primary" style="color:black">
          </div>
              </form>
      </div>
    </div>
  </div>
</section>

    {% endblock %}  
    