{% extends 'ArchiSite/base.html' %}
{% block content %} 
{% load static %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/14.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Contact Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Contact Us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

   	
    <section class="ftco-section contact-section">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3" style="margin-top: -20px;">
              <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 style="color:black" class="mb-4">Reach out to us</h2>
              </div>
              </div>
        
        <div class="row block-9" >
          <div class="col-lg-6 order-md-last d-flex">
            <form action="#" class="bg-dark p-5 contact-form"style="box-shadow: 5px 10px 18px #888888;" >
                <div class="form-group">
                    <p>
                      <a href=""><i class="fa fa-home ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                        <span class="ftco-animate" style="font-size:20px;color:rgb(244, 245, 239)">P.O.Box: 52453 - 00100. Nairobi, Kenya</span></a>
                    </p>
                  </div>

                  <div class="form-group">
                      <p>
                        <a href=""><i class="fa fa-phone ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                          <span class="ftco-animate" style="font-size:20px;color: rgb(253, 253, 252)">+254 706 457 150</span></a>
                      </p>
                    </div>
                    <div class="form-group">
                        <p>
                          <a href=""><i class="fa fa-phone ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                            <span class="ftco-animate" style="font-size:20px;color: rgb(253, 253, 253)">+254 738 920 749</span></a>
                        </p>
                      </div>
                        <div class="form-group">
                          <p>
                            <a href=""><i class="fa fa-envelope-o ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                              <span class="ftco-animate" style="font-size:20px;color: rgb(255, 255, 255)">info@architrevo.com</span></a>
                          </p>
                        </div>
                        <div class="form-group">
                            <p>
                              <a href=""><i class="material-icons ftco-animate" style="font-size:24px;color: #6CD4FF;">&#xe80b;</i> &nbsp;&nbsp;
                                <span class="ftco-animate" style="font-size:20px;color: rgb(255, 255, 255)">info@architrevo.com</span></a>
                            </p>
                          </div>
                          <div class="form-group">
                              <p>
                                <a href="https://www.facebook.com/MirabileArchitects/?ref=br_rs"><i class="fa fa-facebook ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                  <span class="ftco-animate" style="font-size:20px;color: rgb(253, 253, 253)">@Architrevo </span>
                                  </a>
                              </p>
                            </div>
                            <div class="form-group">
                                <p>
                                  <a href="https://www.instagram.com/mirabile_archdesigns/?hl=en"><i class="fa fa-instagram ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                                    <span class="ftco-animate" style="font-size:20px;color: rgb(255, 255, 255)">@Architrevo </span>
                                    </a>
                                </p>
                              </div>
                              <div class="form-group">
                                  <p>
                                    <a href="https://twitter.com/marchdesigns"><i class="fa fa-twitter ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                                      <span class="ftco-animate" style="font-size:20px;color: rgb(255, 255, 255)">@Architrevo  </span>
                                    </a>
                                  </p>
                                </div>
                                <div class="form-group">
                                    <p>
                                      <a href="https://www.linkedin.com/company/mirabile-archdesigns"><i class="fa fa-linkedin ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                                        <span class="ftco-animate" style="font-size:20px;color: rgb(245, 245, 245)">@Architrevo  </span>
                                      </a>
                                    </p>
                                  </div>
                                  <div class="form-group">
                                      <p>
                                        <a href=""><i class="fa fa-youtube-play ftco-animate" style="font-size:24px;color: #6CD4FF;"></i> &nbsp;&nbsp;
                                          <span class="ftco-animate" style="font-size:20px;color: rgb(255, 255, 255)">@Architrevo  </span>
                                        </a>
                                      </p>
                                    </div>
            </form>
          
          </div>
          <div class="col-lg-6 order-md-last d-flex">
              <form action="#" class="bg-dark p-5 contact-form" style="box-shadow: 10px 10px 18px #888888;">
                <div class="form-group" >
                  <input type="text" class="form-control ftco-animate" style="background-color: rgb(210, 212, 203);" placeholder="Your Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control ftco-animate" placeholder="Your Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control ftco-animate" placeholder="Subject">
                </div>
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="7" class="form-control ftco-animate" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5 ftco-animate">
                </div>
              </form>
            
            </div>

          <!-- <div class="col-lg-6 d-flex">
          	<div id="map" class="bg-white"></div>
          </div> -->
        </div>
      </div>
    </section>

    <section class="ftco-section-parallax bg-secondary">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2 style="font-family: poppins;">Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}  