{% extends 'ArchiSite/base.html' %}
{% block content %} 
{% load static %}
    
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/landscape/land2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            	<span>Landscape Design</span>
            </h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.php">Home <i class="ion-ios-arrow-forward"></i></a></span> 
                  <span class="mr-2"><a href="services.html">Our Services<i class="ion-ios-arrow-forward"></i></a></span>
                    <span>Landscape Design<i class="ion-ios-arrow-forward"></i></span></p>
            <!-- <p><a href="#" class="btn btn-primary py-3 px-4">Request a Free Consultation</a></p> -->
          </div>
        </div>
      </div>
    </div>



    <section class="ftco-section services-section bg-light"style="box-shadow: 5px 10px 18px #888888;">
        <div class="container mt-0">
          <div class="row justify-content-center mb-5 pb-3 no-gutters d-flex">
              <h2 class="mb-4"><b>Landscape Design</b></h2>

            <h4 align="center">We provide a complete range of landscape architectural services, from the earliest stage of design to landscape
                maintenance supervision.
                We are adept at creating attractive landscape designs at a variety of scales from large campus grounds to smaller garden
                spaces that can be enjoyed by a variety ages and abilities</h4>
            <br>
            
        </div>
      </section>

   <br>
   <br>

   <section class="ftco-consultation bg-light" style="box-shadow: 5px 10px 18px #888888;">
    <div class="container-fluid">
      <br>
      <br>
    <div class="row d-md-flex">
      <div class="half d-flex justify-content-center align-items-center img" style="background-image: url(/static/images/slideshow/back2.jpg);">
        <div class="overlay"></div>
        <div class="desc text-center">
          <div>
            <span>
              <img src="/static/images/archilogos/minilogo.png" style="height:170px;width:280px;"></img>
            </span>
          </div>
        </div>
        </div>
        <div class="half p-3 p-md-5 ftco-animate">
          <h3 class="mb-4">Ask us a question!</h3>
          <form action="#" style="font-family:poppins">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
          <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send message" class="btn btn-primary" style="color:black">
          </div>
              </form>
      </div>
    </div>
  </div>
</section>

    {% endblock %}  
    